html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* style css kita */
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: lightskyblue;
    border-bottom: 3px solid salmon;
    z-index: 9999;
}
.topbar h2{
    margin-top: 5px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: yellow;
}
.container {
    margin: 80px auto;
    width: 1010px;
    background-color: white;
    position: relative;
}
.instagram{
    width: 100px;
    height: 100px;
    background-image: url(img/logo_ig_fix.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: 3px;
    right: 0px;
}
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333 /*sama saja dengan #333333*/;
    background-image: url(trees.png); 
}
.header{
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul{
    font-size: 40px;
    font-weight: bold;
}
.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
} 
.header a{
    text-decoration: none;
    color: salmon;
    padding: 3px;
}
.header a:hover{
    background-color: skyblue;
    color: white;
}
.hero {
    height: 460px;
    background-image: url(img/baru.png);
    background-size: cover;
    background-position: 0 -30px/*yang pertama unuk horizontal yang kedua untuk vertikal*/;
    border-top: 5px solid lightskyblue;
    border-bottom: 5px solid salmon;
}
.main {
    width: 600px;
    padding: 15px;
    box-sizing: border-box;
    float: left;
}
.main h2{
    font-size: 20px;
    font-weight: bold;
}
.main .penulis{
    font-size: 13px;
    margin-top: -5px;
}
.main .penulis a {
    color: salmon;
    text-decoration: none;
}
.main p{
    text-align: justify;
    margin-bottom: 20px;
    font-size: 15px;    
}
/* sidebar */
.sidebar{
    width: 300px;
    float: right;
    padding: 20px;
}
.sidebar h3{
    font-weight: bold;
    color: #666;
}
.sidebar img{
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}
.sidebar p{
    font: 13px/18px arial;
    text-align: justify;
}
.products h2{
    text-align: center;
    font-size: 30px;
    font-style: bold;
    color: red;
}
.products .foto li{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 35px;
}
.products .name li{
    display: inline-block;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 60px;
}
.products .name .fttiga{
    margin-left: -17px;
    margin-right: 16px;
}
.products .name .ftempat{
    margin-left: 22px;
    margin-right: -20px;
}
.contact {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    font-style: bold;
    color: brown;
}
.contact .logo li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 25px;
}
.footer{
    background-color: #333;
    padding: 10px;
}
.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}